<div class="container" >
    <div class="row card-container" >
        <div class="col-sm-6 col-md-4 col-lg-3" >
            <div class="card" margin = "8em">
                <div class="card-header">
                    <a [routerLink] class="white">
                        Dan Pickles
                    </a>
                    <a [routerLink]>
                        <i title="Edit"  
                           class="pull-right glyphicon glyphicon-edit edit-icon white"></i>
                    </a>
                </div>
                <div class="card-body">
                    <div class="clearfix">
                        
                            <a href="#" class="white">
                                    <img src="../assets/default.png" width="86em" height="86em" class="card-image" />
                            </a>
                        
                        
                            <div class="card-body-content"> Card Body</div>
                            <a [routerLink]>View Orders</a>
                        
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
