<BR/>
<div>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
<th>
    Invoice No.
</th>
<th>
    Customer Name
</th>
<th> Genenerated
    Date
</th>
<th>
    Amount
</th>
<th>
        Status
</th>
<th>
    Due date
</th>
<th></th>
</tr>
    </thead>
    <tbody>
        <tr *ngFor="let thisinvoice of invocies" >
            <td>
                {{thisinvoice.invoiceId}}
            </td>
            <td>
                {{thisinvoice.customer}}
            </td>
            <td>
                {{thisinvoice.genDate | date:"MMM dd yyyy"}}
            </td>
            <td>
                {{thisinvoice.amount}}
            </td>
            <td>
                {{thisinvoice.status}}
            </td>
            <td>
                {{thisinvoice.dueDate | date:"MMM dd yyyy"}}
            </td>
            <td>
                <button (click)="OnSelect(thisinvoice)"  [routerLink] = "['/list-invoicesDetails']" >details</button>
        </tr>

    </tbody>
</table>



