
            <div class="card m-3 shadow-lg animate slideIn" style="width: 15em; display: flex; " >
                <div class="card-header">
                        {{thisCustomer.customerFirstname}} {{thisCustomer.customerLastname}}
                </div>
                <div class="card-body">
                    <div class="clearfix">
                        
                            <a href="#" class="white">

                                    <img src= '{{imgsrc}}' width="72em" height="72em" class="card-image" /></a>
                                    <br> Phone: 
                                    {{thisCustomer.customerPhoneNumber}}
                            
                        
                            <div class="card-body-content">
                               <br> {{thisCustomer.customerAddress}} <br>
                                {{thisCustomer.customerEmail}}
                            </div>
                            <a [routerLink] = "['/list-invoices']" >View Invoices</a>                      
                    </div>
                </div>
            </div>



