
<br/>
<form>
    <div class="form-group">
      <label for="formGroupExampleInput">Customer</label>
<select class="form-control" >
    <option>Default select</option>
  </select>
</div>
<div>
<table>
    <thead>
        <tr>
            <td>Service</td>
            <td>Cost</td>

        </tr>
    </thead>
    <tr>
        <td>
            <input type ="text" >
        </td>
        <td>
            <input type = "number">
        </td>
    </tr>
    <tr>
        <td>
            <input type ="text" >
        </td>
        <td>
            <input type = "number">
        </td>
    </tr>
    <tr>
        <td>
            <input type ="text" >
        </td>
        <td>
            <input type = "number">
        </td>
    </tr>
    <tr>
        <td>
            <input type ="text" >
        </td>
        <td>
            <input type = "number">
        </td>
    </tr>
    <tr>
        <td>
            <input type ="text" >
        </td>
        <td>
            <input type = "number">
        </td>
        
    </tr>
    <tr>
        <td>
        Due date</td>
        <td><input type="date"> </td>
    </tr>
</table>
</div>
</form>