<app-nav-bar></app-nav-bar>

<div class = "mx-auto animate slideIn">

<div class="form-group mx-auto" style="width: 60%;">
    <h2>Add a Customer</h2>
    <div class="form-row">
        <div class="col">
            <label for="formGroupExampleInput">First Name:</label>
            <input type="text" class="form-control" [(ngModel)]="customer.customerFirstname" name="firstName"
                placeholder="First Name">
        </div>
        <div class="col">
            <label for="formGroupExampleInput2">Last Name:</label>
            <input type="text" class="form-control" [(ngModel)]="customer.customerLastname" name="lastName"
                placeholder="Last Name">
        </div>
    </div>
    <label for="formGroupExampleInput2">Email:</label>
    <input type="text" class="form-control" [(ngModel)]="customer.customerEmail" name="email" placeholder="Email">
    <label for="formGroupExampleInput2">Address:</label>
    <input type="text" class="form-control" [(ngModel)]="customer.customerAddress" name="address" placeholder="Address">

    <div class="form-row">
        <div class="col">
            <label for="formGroupExampleInput2">City:</label>
            <input type="text" class="form-control" [(ngModel)]="customer.customerCity" name="city" placeholder="city">
        </div>
        <div class="col">
            <label for="formGroupExampleInput2">State:</label>
            <input type="text" class="form-control" [(ngModel)]="customer.customerState" name="state"
                placeholder="state">
        </div>
    </div>
    <label for="formGroupExampleInput2">Phone Number:</label>
    <input type="number" class="form-control" [(ngModel)]="customer.customerPhoneNumber" name="phone"
        placeholder="Phone Number">
    <br />
    <div>
        <input class="btn btn-dark mx-2" type="submit" value="Submit" (click)="OnSubmit()" style="background: #007bff">
        <input class="btn btn-dark" type="reset" value="Reset" style="background: #007bff">
    </div>
</div>
</div>