<!-- <form name="newInvoiceForm" > -->
<app-nav-bar></app-nav-bar>
<div class = "card animate slideIn">
    <div class="form-group" id="formNewInvoice">
        <div class = "card-body">
            <h3>Customer</h3>
        <select class="form-control" style="width: 80%;" >
            <option class = "text-muted">None Selected</option>
            <option name="customeName" *ngFor="let customers of customerList">{{customers.firstName}} {{customers.lastName}}</option>
        </select>


        <table class="formTable">
            <thead>
                <tr>
                    <th>Service</th>
                    <th name = "costHeader">Cost</th>

                </tr>
            </thead>
            <tbody>
                
                <tr *ngFor="let invoiceLineRow of invoiceLineArray; let i = index">
                    <td>
                        <input type="text" [(ngModel)]= "invoiceLineArray[i].description" name="description"  >
                    </td>
                    <td>
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>

                            <input class="form-control" type="number" [(ngModel)]= "invoiceLineArray[i].price" name="name">
                        </div>
                    </td>
                    <td>
                        
                        <button class="btn btn-dark" type="button" (click)="deleteFieldValue(i)">-</button>
                        
                    </td>

                </tr>

                <td>
                        <button class="btn btn-dark" type="button" (click)="addFieldValue()">+</button>
                </td>
                <tr>
                    <td>Due date</td>
                    <td><input type="date" name="dueDate"> </td>
                </tr>

            </tbody>
        </table>
        <br />
        <input class="btn btn-dark" type="submit" value="Submit"> &nbsp; &nbsp;
        <input class="btn btn-dark" type="reset" value="Reset">
    </div>
</div>
</div>
<!-- </form> -->