<br/>

<form name="newInvoiceForm">
    <div class="form-group" id ="formNewInvoice">
      <label for="formGroupExampleInput">Customer</label>
<select class="form-control" style="width: 80%;" >
    <option name="customeName">Default select</option>
  </select>


<table class="formTable">
    <thead>
        <tr>
        <th>Service</th>
            <th>Cost</th>

        </tr>
    </thead>
    <tbody>
    <tr *ngFor="let field of fieldArray; let i = index" >
            <td>
                    <input type ="text" [(ngModel)]="invoice.invoiceLines[i].description" name={{invoice.invoiceLines[i].description}}>
                </td>
                <td>
                        <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                             
                    <input class="form-control" type = "number" [(ngModel)]=invoice.invoiceLines[i].price name= "{{invoice.invoiceLines[i].price}}"  > 
                     </div>
                </td>
                <td>
                    <button class="btn btn-dark" type="button" (click)="deleteFieldValue(i)">delete row</button>
                </td>
            </tr>
            <tr>
        <td>
            <input type ="text" [(ngModel)]="newAttribute.description" name={{newAttribute.description}}>
        </td>
        <td>
                <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                     
            <input class="form-control" type = "number" [(ngModel)]=newAttribute.price name= "{{newAttribute.price}}"  > 
             </div>
        </td>
        <td>
            <button class="btn btn-dark" type="button" (click)="addFieldValue()">Add row</button>
        </td>
    </tr>
    
    
    <tr>
        <td>
        Due date</td>
        <td><input type="date" name="dueDate"> </td>
    </tr>
</tbody>
</table>
<br/>
<input class="btn btn-dark" type="submit" value="Submit"> &nbsp;
<input class="btn btn-dark" type="reset" value="Reset">
</div>
</form>
