<div class="col main pt-5 mt-3">
    <h1 class="display-4 d-none d-sm-block ">
        Good Afternoon Dan Pickles
    </h1>
    <p class="lead d-none d-sm-block"></p>

    <div class="alert alert-warning fade collapse" role="alert" id="myAlert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
            <span class="sr-only">Close</span>
        </button>
        <strong>Alert</strong>
    </div>
    <div class="row mb-3">
        <div class="col-xl-3 col-sm-6 py-2">
            <div class="card bg-success text-white bg-info h-100 shadow-lg">
                <div class="card-body bg-success">
                    <div class="rotate">
                        <i class="fa fa-user fa-4x"></i>
                    </div>
                    <h6 class="text-uppercase">Weekly Revenue</h6>
                    <h1 class="display-4">$1423.12</h1>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 py-2 ">
            <div class="card text-white h-100 bg-info shadow-lg">
                <div class="card-body bg-info">
                    <div class="rotate">
                    </div>
                    <h6 class="text-uppercase">Invoices Created This Week</h6>
                    <h1 class="display-4">5</h1>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 py-2">
            <div class="card text-white bg-danger bg-info h-100 shadow-lg">
                <div class="card-body bg-danger">
                    <div class="rotate">
                        <i class="fa fa-list fa-4x"></i>
                    </div>
                    <h6 class="text-uppercase">Total Unpaid Invoices</h6>
                    <h1 class="display-4">14</h1>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 py-2">
            <div class="card text-white bg-warning h-100 bg-info shadow-lg">
                <div class="card-body">
                    <div class="rotate">
                        <i class="fa fa-share fa-4x"></i>
                    </div>
                    <h6 class="text-uppercase">Total Accounts Recievable</h6>
                    <h1 class="display-4">$846.27</h1>
                </div>
            </div>
        </div>
    </div>


    <!--/row-->

    <a id="flexbox"></a>
    <hr>
    <h2 class="mt-5"> </h2>
    <h6> </h6>

    <div class="card-columns mb-3">
        <div class="card shadow-lg">

            <div class="card-body">
                <h4 class="card-title">Revenue History</h4>
                <app-invoice-history-line-chart></app-invoice-history-line-chart>
                <p class="card-text">Monthly History</p>
            </div>
        </div>

        <div class="card shadow-lg">
            <div class="card-body">
                <h4 class="card-title">Invoice Status</h4>
                <app-pie-chart></app-pie-chart>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card card-body shadow-lg">
            <blockquote class="card-title">
                <h4 class="card-title">Over Due Invoices</h4>
                <!-- Tables in this card-->

                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Invoice#</th>
                            <th scope="col">Client</th>
                            <th scope="col">Due Date</th>
                            <th scope="col">Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="row">1</td>
                            <td>Mark</td>
                            <td>12/28/2019</td>
                            <td>$324.83</td>
                        </tr>
                        <tr>
                            <td scope="row">2</td>
                            <td>Jacob</td>
                            <td>1/28/2020</td>
                            <td>$129.86</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Larry</td>
                            <td>1/19/2020</td>
                            <td>$29.49</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Dan</td>
                            <td>1/19/2020</td>
                            <td>$29.49</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Miyagi</td>
                            <td>1/19/2020</td>
                            <td>$29.49</td>
                        </tr>
                    </tbody>
                </table>

                <footer>
                    <small class="text-muted">
                        Footer Message <cite title="Source Title">Footer</cite>
                    </small>
                    <button class="btn btn-dark float-right" [routerLink]="['/list-invoices']">View All</button>
                </footer>
            </blockquote>
        </div>
        <div class="card card-body card-inverse card-primary text-center shadow-lg">
            <blockquote class="card-blockquote">
                <h4 class="card-title">Recently Paid</h4>
                <!--Table for recently paid invoices-->
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Invoice#</th>
                            <th scope="col">Client</th>
                            <th scope="col">Paid Date</th>
                            <th scope="col">Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="row">1</td>
                            <td>Mark</td>
                            <td>12/28/2019</td>
                            <td>$324.83</td>
                        </tr>
                        <tr>
                            <td scope="row">2</td>
                            <td>Jacob</td>
                            <td>1/28/2020</td>
                            <td>$129.86</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Larry</td>
                            <td>1/19/2020</td>
                            <td>$29.49</td>
                        </tr>
                    </tbody>
                </table>

                <footer>
                    <small class="text-muted float-left">
                        Someone famous in <cite title="Source Title">Bootstrap</cite>
                    </small>
                    <button class="btn btn-dark float-right" [routerLink]="['/list-invoices']">View All</button>
                </footer>
            </blockquote>
        </div>